# Data Exploration

## Setup

### Downloading Librabies

In [37]:
%pip install pandas
%pip install openpyxl

Requirement already satisfied: pandas in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/batsiraidzimati/Source Code/Contextual-Behavioural-Biometrics/.venv/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### Importing Librabies

In [38]:
import pandas as pd
import string

## Reading Data

### Read Transactional Data and Non statistical exploration

Reading data and renaming columns as well as dropping uneeded columns

In [39]:
transactional_data = pd.read_csv("../DataSets/TransactionalData/bank.csv")

del transactional_data['CHQ.NO.']
del transactional_data['VALUE DATE']

transactional_data = transactional_data.rename(columns={
    "Account No": "user",
    "DATE": "transaction_date",
    "TRANSACTION DETAILS": "transaction_details",
    " WITHDRAWAL AMT ": "money_in",
    " DEPOSIT AMT ": "money_out",
    "BALANCE AMT": "rolling_balance"
})

Insure all the data is in correct format for exploration

In [40]:
chars_to_remove = [' ', ',']

for char in chars_to_remove:
    transactional_data['money_in'] = transactional_data['money_in'].replace(char, '', regex=True)
    transactional_data['money_out'] = transactional_data['money_out'].replace(char, '', regex=True)
    transactional_data['rolling_balance'] = transactional_data['rolling_balance'].replace(char, '', regex=True)

transactional_data['money_in'] = transactional_data['money_in'].astype(float)
transactional_data['money_out'] = transactional_data['money_out'].astype(float)
transactional_data['rolling_balance'] = transactional_data['rolling_balance'].astype(float)

sorted_data = data = transactional_data.sort_values(by=['user', 'transaction_date'])

rename users and get rid of senstive data

In [42]:
# Get the unique users
unique_users = transactional_data['user'].unique()

# Create a mapping from old usernames to 'user a', 'user b', ..., 'user z'
# Use string.ascii_lowercase to get lowercase letters
user_mapping = {old_user: f'user_{letter}' for old_user, letter in zip(unique_users, string.ascii_lowercase)}

# Replace the old usernames in the 'users' column with the new usernames
transactional_data['user'] = transactional_data['user'].map(user_mapping)

exploration of users

In [43]:
users = transactional_data.groupby('user').aggregate(
    total_money_in=('money_in', 'sum'),
    total_money_out=('money_out', 'sum'),
    initial_balance=('rolling_balance', 'first'),
    final_balance=('rolling_balance', 'last'),
)

users.sort_values("user")

        total_money_in  total_money_out  initial_balance  final_balance
user
user_a    1.453974e+08     1.458596e+08     1.000000e+06   4.622000e+05
user_b    9.537793e+07     9.565931e+07     9.622000e+05   7.435833e+05
user_c    3.845102e+08     2.703186e+07     7.645833e+05  -3.567348e+08
user_d    4.203179e+08     2.287852e+08    -5.267348e+08  -5.482675e+08
user_e    4.705551e+09     4.705899e+09    -3.780175e+08  -5.479193e+08
user_f    1.006049e+08     1.022096e+08    -5.474193e+08  -5.463146e+08
user_g    1.719608e+10     1.720243e+10    -1.514640e+06  -5.399631e+08
user_h    4.692584e+10     4.587889e+10    -5.399581e+08  -1.586916e+09
user_i    6.848283e+10     6.838251e+10    -1.585716e+09  -1.687234e+09
user_j    1.019351e+11     1.017209e+11    -1.677234e+09  -1.901417e+09